<!--Error Block-->
<div class="error-block">
    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
</div>

<!--admin menu-->
<div class="menu">
    <span class="close">&times;</span>
    <a href="/"><img class ="logo" src="/assets/images/trainbot_logo.png" alt="TrainBot"></a>
    <ul>
        <a href="/admin/clients"><li>Client List</li></a>
        <a href="/admin/programs"><li>Programs</li></a>
        <a href="/admin/create"><li>Create Program</li></a>
    </ul>
</div>

<!--admin header-->
<div class="site-header">
    <ul>
        <li class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></li>
        <li><img class ="logo" src="/assets/images/trainbot_logo.png" alt="TrainBot"></li>
        <li class="header-button"><a href="/logout"><button type="button">Logout</button></a></li>
    </ul>
</div>

<div class="create-block">
    <div class="create-section">
        <h1 class="create-content-title">Create New Program</h1>
        <div class="create-content">
            <form class="program-form" method="" action="">
                <div class="create__program-name"> 
                    <label>Program Name:</label>
                    <input type="text" class="form-control" placeholder="Program Name" id="program-name">
                </div>
                <div class="create__program-days">
                    <label>Number of Days:</label>
                    <input type="text" class="form-control" placeholder="e.g. 1, 2, 3 ..." id="program-days">
                </div>
                <div class="create__program-description">
                    <label class="program-label">Program Description:</label>
                    <textarea id='program-description'></textarea>
                </div>
                <button class="submit-button submit-program" type="submit">Create</button>
            </form>
        </div>
    </div>
    <img class="program-banner" src="/assets/images/banner-cement.jpg" alt="cement">
</div>