
<h1>New Workout</h1>
<form method="POST" action="/workout/new">
    
    <div class="workout_program">
        <select name="program">
            {{#each programs}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    
    <div class="workout_day">
        <label>What day number is this?</label>
        <input type="number" name="day" placerholder="ex: 1, 2, 3...">
    </div>
    
    <div class="workout_text">
        <label>What is the workout?</label>
        <input type="textarea" name="text" placeholder="A. 3x5 Back Squats etc..">
    </div>

    <button type="submit">Submit</button>
</form>
