<h1>{{name}}</h1>

{{#each details.WorkoutDays}}
    <div>
        <h1>Day {{day}}</h1>
        <p>{{text}}</p>
    </div>
    <form action="/workout/new?_method=PUT" method="POST">
        <button>Update</button>
    </form>

    <br>
{{/each}}