<div class="landing-body">
    <div class="banner-block">
        </div>
        <div class="inspire-block">
            <h1 class="inspire-quote">"Integrity, Intensity, Intelligence"</h1>
            <h1 class="inspire-text">Train like an Olympian</h1>   
        </div>
        <img class = "banner-image" src="/assets/images/banner-running.jpg" alt="crossfit banner">
    </div>
    <div class="about-section">
        <div class="about-content">
            <div class="about-photo-block">
                <div class="social">
                    <a href=#><i id="twitter" class="icon-twitter"></i></a>
                    <a href=#><i id="facebook" class="icon-facebook"></i></a>
                    <a href=#><i id="youtube" class="icon-youtube"></i></a>
                    <a href=#><i id="linkedin" class="icon-linkedin-sign"></i></a>
                    <a href=#><i id="plus" class="icon-google-plus-sign"></i></a>
                    <a href=#><i id="mail" class="icon-envelope"></i></a>
                </div>
                <img class ="trainer-photo" src="/assets/images/trainer-photo.jpg" alt="robot trainer">
            </div>
            <div class="about-text">
                <h2 class="about-title">About Trainer</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim sem, ultricies nec lectus in, finibus pharetra urna. Nullam vel dignissim lorem, suscipit convallis ex.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim sem, ultricies nec lectus in, finibus pharetra urna. Nullam vel dignissim lorem, suscipit convallis ex.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim sem, ultricies nec lectus in, finibus pharetra urna. Nullam vel dignissim lorem, suscipit convallis ex.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim sem, ultricies nec lectus in, finibus pharetra urna. Nullam vel dignissim lorem, suscipit convallis ex.</li>
                </ul>
            </div>
        </div>
    </div>
</div>