<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
        <script src="/javascript/app.js"></script>
        <title>TrainBot</title>
    </head>
    <body>
        <h1>HEY!</h1>
            <form method="POST" action="/workout/update">
                
                <div class="workout_program">
                    <select name="program">
                        <option value="1">Powerlifting</option>
                        <option value="2">Crossfit</option>
                        <option value="3">Rowing</option>
                    </select>
                </div>
                <button type="submit">Submit</button>
            </form>       
    </body>
</html>