<!--user menu-->
<div class="menu">
    <span class="close">&times;</span>
    <a href="/"><img class ="logo" src="/assets/images/trainbot_logo.png" alt="TrainBot"></a>
    <ul>
        <a href="/user/workout"><li>Workout</li></a>
        <a href="/user/profile"><li>Profile</li></a>
    </ul>
</div>

<!--user header-->
<div class="site-header">
    <ul>
        <li class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></li>
        <li><img class ="logo" src="/assets/images/trainbot_logo.png" alt="TrainBot"></li>
        <li class="header-button"><button type="button">Logout</button></li>
    </ul>
</div>

<div class="workout-flow">
    <div class="previous-day">
        <button class="previous-day-button" type="button">Previous Day</button>
    </div>

    <div class="workout-card">
        <div class="workout-content">
            {{#with singleWorkout}}
            <h1 class="card-day">Day {{day}}</h1>
            <h1 class="card-program">{{Program.name}}</h1>
            <p class="card-text">
                {{text}} 
            </p>
            {{/with}}
        </div>
        <form class="card-feedback">
            <label class="feedback-label" for="feeback">Submit Feedback About Your Workout:</label>
            <textarea class="feedback" name="feedback"></textarea>
            <div class="header-button complete-button"><button type="submit">Complete Workout</button></div>
        </form>
    </div>

    <div class="next-day">
        <button class="next-day-button" type="button">Next Day</button>
    </div>

    <img class ="workout-banner" src="/assets/images/banner-weights.jpg" alt="crossfit">
</div>
