/*Program page*/

.workouts {
    display: none;
}

.program-block,
.list-block,
.create-block {
    width: 100%;
    min-height: calc(100vh-120px);
    background-color: #000;
}

.program-banner {
    width: 100%;
    min-height: calc(100vh - 120px);
}

.program_section,
.workouts,
.list-section,
.create-section {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
    background-color: rgba(229,229,229, 0.85);
    color: #000;
    box-shadow: 3px 3px #3CB4D4;
    border: 1px solid #aaaaaa;
    overflow: scroll;
}

.program-div h1,
.list-section-title {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    float: left;
    padding: 10px;
    font-size: 25px;
    border-right: 3px solid #000;
}

.program-div h1 span {
    color: #42C79A;
}

.program-info {
    clear: both;
    border-top: 3px solid #000;
    padding: 10px 10px 50px 10px;
}

.program-info h3,
.program-info p {
    padding-bottom: 10px;
}

.view-program-button {
    float: left;
    margin: 0;
}

.view-program-button button {
    margin: 0;
}

.workouts-header-text,
.create-content-title{
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    float: left;
    padding: 10px;
    font-size: 25px;
    border-right: 3px solid #000;
}

.back-button button {
    margin: 7px 7px 0 0;
}

.workouts-header {
    width: 100%;
    float: left;
    border-bottom: 3px solid #000;
}

.workouts-content-block {
    width: 100%;
    clear: both;
    float: left;
}

.singleWorkout {
    width: 100%;
    clear: both;
    float: left;
    padding: 5px 10px 10px 10px;
    border-top: 1px solid #000;
}

.singleWorkout h3 {
    padding-bottom: 5px;
}

.update-button {
    float: right;
}

.update-button button {
    margin: 0;
    float: right;
}


/*CLient List*/

.list-content,
.create-content {
    clear: both;
    width: 100%;
    float: left;
    border-top: 3px solid #000;
}

.list-content ul {
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid #000;
}

.list-content li {
    display: inline-block;
    padding-right: 5%;
    font-size: 18px;
}

.client-bar { 
    height: 30px;
    clear: both;
    width: 100%;
    background: #000;
    border-radius: 10px;
    padding: 5px;
    color:#fff;
    font-size: 16px;
    margin-top: 10px;
}


/*create page*/
.create-days-block {
    display: none;
}

.create-content {
    padding: 15px;
}

.program-form div {
    margin-bottom: 10px;
}

.program-label,
.workout-enter-label {
    float: left;
}

#program-description,
#workout-text {
    clear: both;
    width: 40%;
    height: 200px;
    float: left;
}

.submit-program,
.submit-workout {
    clear: both;
    float: left;
}

.program-form input {
    color: #000;
    background: #fff;
    border-style: none;
    border-bottom: 1px solid #fff;
    margin-left: 5px;
    font-size: 16px;
    width: 20%;
    border-radius: 5px;
}

.program-form input:focus,
.program-form input:hover {
    outline: none;
    border-bottom: 1px solid #000;
}

.program-form textarea,
#workout-text {
    color: #000;
    background: #fff;
    border-style: none;
    border: 1px solid #000;
    font-size: 14px;
    border-radius: 5px;
    resize: none;
}

.program-form textarea:hover,
.program-form textarea:focus {
    outline: none;
}