/*Workout Page*/
.workout-flow {
    width: 100%;
    min-height: calc(100vh-120px);
    background-color: #000;
}

.workout-banner {
    width: 100%;
    min-height: calc(100vh - 120px);
}

.workout-card {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 20%;
    left: 20%;
    background-color: rgba(229,229,229, 0.85);
    color: #000;
    box-shadow: 3px 3px #3CB4D4;
    border: 1px solid #aaaaaa;
}

.complete-button button{
    background-color: #000;
    color: #fff;
    margin: 0;
}

.card-day {
    font-size: 40px;
    float: left;
    padding: 8px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}

.card-program {
    float: left;
    font-size: 40px;
    padding: 8px;
    border-bottom: 3px solid #000;
}

.card-text {
    float: left;
    clear: both;
    padding: 10px;
    white-space: pre-line;
}

.card-feedback {
    clear: both;
    width: 100%;
    padding: 10px;
    border-top: 3px solid #000;
    height: 80px;
}

.workout-content {
    height: calc(100% - 80px);
    overflow: scroll;
}

.feedback {
    float: left;
    width: 60%;
    border-style: none;
    font-size: 16px;
    background-color: rgba(229,229,229, 0.1);
    resize: none;
    border: 1px solid #aaaaaa;
}

.feedback:hover,
.feedback:focus {
    outline: none;
    background: rgba(66, 199, 154, 0.5);
}

.complete-button {
    float: right;
    margin-top: 10px;
}

.feedback-label {
    font-size: 20px;
}

.previous-day,
.next-day {
    position: absolute;
    width: 29.5%;
    height: 5%;
    top: 14%;
}

.next-day {
    right: 20%;
}

.previous-day {
    left: 20%;
}

.previous-day-button,
.next-day-button {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-style: none;
    background-color: rgba(229,229,229, 0.85);
    font-size: 20px;
}

.previous-day-button:hover,
.next-day-button:hover,
.previous-day-button:focus,
.next-day-button:focus {
    background: rgba(60, 180, 212, 0.5);
    color: #fff;
    outline: none;
}

/*Profile page*/
.profile-content {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: black;
}

.profile-banner {
    width: 100%;
    height: calc(100vh - 75px);
}

.profile-panel {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
    background-color: rgba(229,229,229, 0.85);
    color: #000;
    box-shadow: 3px 3px #3CB4D4;
    border: 1px solid #aaaaaa;
}

.profile-panel-header,
.profile-info-title {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px;
    border-right: 3px solid #000;
}

.profile-progress-block {
    border-top: 3px solid #000;
    clear: both;
    margin-top:10px;
    padding: 15px;
    font-size: 20px;
}

.current-program-title {
    display: inline-block;
    padding-bottom: 5px;
}

.workout-button {
    margin: 0;
    display: inline-block;
    padding-bottom: 10px;
}

.workout-button button{
    margin: 0;
}

.profile-info-title {
    margin-top: 70px;
}

.info-list {
    clear: both;
    border-top: 3px solid #000;
}

.info-list li {
    padding: 20px 0 0 20px;
}

.info-list span {
    padding-left: 10px;
}

.edit-button,
.save-button {
    float: left;
    margin: 0;
}

.edit-button button,
.save-button button {
    margin: 0;
}

/*progress bar*/
.progress-bar { 
    height: 30px;
    float: left;
    clear: both;
    width: 100%;
    background: #000;
    border-radius: 10px;
    padding: 5px;
    color:#fff;
    font-size: 16px;
}

.progress-bar span,
.client-bar span {
    padding-top: 2px;
    width: 0%;
    display: inline-block;
    height: 20px;
    border-radius: 8px;
    background-color: #2bc253;
    overflow: hidden;
}

.progress-bar h1,
.client-bar h1 {
    position: absolute;
    left: 45%;
    z-index: 25;
}

/*profile*/

.info-list input {
    display: none;
    color: #000;
    background-color: rgba(229,229,229, 0.85);
    border-style: none;
    border-bottom: 1px solid #fff;
    margin-left: 5px;
    font-size: 16px;
    width: 20%;
}

.info-list input:focus,
.info-list input:hover {
    outline: none;
    border-bottom: 1px solid #000;
}

.save-button {
    display: none;
}

.save-button button {
    background-color: #000;
    color: #fff;
}